@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/util" as *;
@use "./partials/mixins" as *;

// Nav bar
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $colour-background-primary;

  @include media-queries($lg, 99999999px) {
    justify-content: flex-end;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100%;

    @include media-queries($lg, 99999999px) {
      padding-right: 2rem;
    }

    &-item {
      a {
        text-decoration: none;
        color: $colour-nav-item;

        &:hover {
          color: $colour-primary;
          transition: all ease-in-out 300ms;
        }
      }
    }
  }
}

// Landing section
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 10px;

  &__heading {
    font-size: 4rem;
    margin-bottom: 1rem;

    &--sub {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  div {
    margin-bottom: 10rem;
  }
}

// About page
#about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.about {
  &__grid {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;

    @include media-queries($lg, 99999999px) {
      flex-direction: row;
      flex-grow: 2 1 auto;
      gap: 1rem;
    }

    &-item {
      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px;

        @include media-queries($xl, 99999999px) {
          width: 60%;
        }

        a {
          img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 0.8rem;
            transition: all ease-in-out 300ms;

            &:hover {
              transform: scale(105%);
              filter: opacity(90%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__heading {
    padding: 5px 0;
  }

  &__paragraph {
    padding: 5px 0;
  }
}

// Work / projects
#work {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .work {
    &__intro {
      margin: 2rem 0;
      font-size: 1.3rem;

      @include media-queries($md, $lg) {
        font-size: 2rem;
      }

      @include media-queries($lg, 99999999px) {
        font-size: 2.5rem;
      }
    }

    &__project {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      padding: 1rem;
      border-radius: $border-radius;

      @include media-queries($md, $lg) {
        width: 80%;
      }

      @include media-queries($lg, 99999999px) {
        flex-direction: row;
        margin: 2rem 0;
        background: linear-gradient(
          180deg,
          $colour-background-dark 0%,
          darken($colour-background-dark, 2) 100%
        );
      }

      @include media-queries($lg, $xl) {
        width: 70%;
      }

      @include media-queries($xl, 99999999px) {
        width: 40%;
      }

      &--side-heading {
        font-size: 0.9rem;
        margin-bottom: 0.8rem;

        @include media-queries($md, $lg) {
          font-size: 1rem;
        }

        @include media-queries($lg, 99999999px) {
          font-size: 1rem;
          margin-bottom: 0;
          rotate: 270deg;
          width: 6rem;
        }
      }

      &--img {
        display: block;
        height: auto;
        width: 100%;
        margin-bottom: 0.5rem;
        border-radius: $border-radius;

        @include media-queries($md, 99999999px) {
          width: 70%;
        }

        @include media-queries($lg, 99999999px) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }
      }

      &-flex {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 1rem;

        & h3,
        a,
        div {
          margin: 0.25rem 0;
        }

        @include media-queries($md, $lg) {
          justify-content: center;
          height: 10rem;
        }

        @include media-queries($lg, 99999999px) {
          margin-left: 0.6rem;
          height: 17rem;
        }

        &--main-heading {
          font-size: 1.5rem;
        }

        &--link {
          display: inline-block;
          overflow: hidden;

          @include button-hover();
        }

        &--other-links {
          svg {
            stroke: $colour-primary;

            @include general-hover();
          }
        }
      }
    }
  }
}
// Skills
#skills {
  min-height: 100vh;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0.5rem;

  &__heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include media-queries($md, 99999999px) {
      gap: 2rem;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @include media-queries($lg, 99999999px) {
        gap: 2rem;
      }

      &--heading {
        font-size: 1.2rem;

        @include media-queries($md, 99999999px) {
          font-size: 1.8rem;
        }
      }

      .nextjs {
        width: 4rem;
      }

      .express {
        text-decoration: none;
        font-weight: 100;
        color: #444;
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        transition: all ease-in-out 300ms;

        &:hover {
          transition: all ease-in-out 300ms;
          filter: opacity(0.7);
        }

        @include media-queries($md, 99999999px) {
          font-size: 25px;
        }
      }

      .redis {
        width: 4rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;

        g,
        path,
        rect,
        use,
        polygon {
          transition: all ease-in-out 300ms;
        }

        &:hover {
          g,
          path,
          rect,
          use,
          polygon {
            transition: all ease-in-out 300ms;
            opacity: 0.7;
          }
        }

        @include media-queries($md, 99999999px) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

// Contact section
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 0 auto;
  width: 100%;
  min-height: 50vh;

  &__intro {
    text-align: center;
    &--heading {
      font-size: 2rem;
      margin-bottom: 0.5rem;

      @include media-queries($md, 99999999px) {
        font-size: 2.5rem;
      }

      &-sub {
        font-size: 1.2rem;

        @include media-queries($md, 99999999px) {
          font-size: 2rem;
        }
      }
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 10px;

    a {
      text-decoration: none;

      &:visited {
        color: #000;
      }
    }

    @include media-queries($lg, 99999999px) {
      flex-direction: row;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        width: 4rem;
        height: 4rem;

        stroke: $colour-primary;

        g {
          fill: $colour-primary;
          stroke: $colour-primary;
        }
      }

      &#tooltip {
        cursor: pointer;
        position: relative;

        #tooltip-text {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          z-index: 1;

          visibility: hidden;

          background-color: rgba(
            $color: $colour-background-primary,
            $alpha: 0.9
          );
          text-align: center;
          border-radius: $border-radius;
          width: 100%;
          height: 100%;
        }

        &#tooltip:hover #tooltip-text {
          visibility: visible;
        }
      }
    }
  }
}
