@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/typography" as *;
@use "./partials/util" as *;

// Nav bar
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 98%;
  height: 5rem;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100%;

    &-item {
      a {
        text-decoration: none;
        color: $colour-nav-item;

        &:hover {
          color: $colour-primary;
          transition: all ease-in-out 300ms;
        }
      }
    }
  }
}

// Landing section
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 10px;

  &__heading {
    font-size: 4rem;
    margin-bottom: 1rem;

    &--sub {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  div {
    margin-bottom: 10rem;
  }
}

// About page
#about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.about {
  &__grid {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    &-item {
      flex-grow: 1;

      &:first-child {
        width: 60%;
      }

      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 10px;

        img {
          border-radius: 10px;
          margin-bottom: 0.8rem;
          transition: all ease-in-out 300ms;

          &:hover {
            transform: scale(105%);
            filter: opacity(90%);
            cursor: pointer;
          }
        }
      }
    }
  }

  &__heading {
    padding: 5px 0;
  }

  &__paragraph {
    padding: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .about__grid {
    flex-direction: column;
    width: 100%;

    &-item {
      &:first-child {
        width: 100%;
      }
    }
  }
}
