$colour-primary: #ff88ff;
$colour-secondary: darken($colour-primary, 4);
$colour-nav-item: #909090;

$colour-background-primary: #fefefe;
$colour-background-dark: #18181b;

$border-radius: 10px;

// Device sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
